/* Footer navigation */

.primary-footer {
    --logo-color: var(--clr-neutral-100);
}

.primary-footer__wrapper {
    display: grid;
    gap: var(--size-700);
    justify-content: center;
    align-items: start;
    grid-template-areas:
        "form"
        "nav"
        "social"
        "logo"
        "copyright";
}

.primary-footer__logo {
    grid-area: logo;
}

.primary-footer__form {
    grid-area: form;
}

.primary-footer__copyright {
    grid-area: copyright;
    opacity: 0.7;
    text-align: center;
}

.primary-footer__nav {
    grid-area: nav;
    margin-inline: auto;
}

.primary-footer__form {
    grid-area: form;
    display: flex;
    gap: var(--size-200);
}

input:where([type="text"], [type="email"]) {
    border-radius: 100vw;
    border: 0;
    padding: var(--size-300) var(--size-500);
    width: min(100%, 14rem);
}

@media (min-width: 47em) {
    .primary-footer__wrapper {
        grid-template-areas:
            'logo nav form'
            'social nav copyright';
        grid-template-columns: min-content 1fr auto;
    }
    .primary-footer__copyright {
        text-align: right;
    }
}

@media (max-width: 47em) {
    .primary-footer__wrapper > * {
        margin-inline: auto;
    }
}

.footer-nav {
    columns: 2;
    gap: clamp(4rem, 10vw, 7rem);
}

.footer-nav a {
    color: var(--clr-neutral-100);
    text-decoration: none;
}

.footer-nav a:where(:hover, :focus) {
    color: var(--clr-accent-400);
}

/* Socail list */

.social-list {
    display: flex;
    gap: var(--size-600);
}

.social-icon {
    width: var(--size-600);
    aspect-ratio: 1;
    fill: var(--clr-neutral-100);
}

@media (min-width: 47em) {
    .social-list {
        gap: var(--size-300);
    }
    .social-icon {
        width: var(--size-500);
        max-width: revert;
    }
}

.social-list a:is(:hover, :focus) .social-icon {
    fill: var(--clr-accent-400);
}
