/* CTA section */

.cta {
    position: relative;
    isolation: isolate;
    text-align: center;
}

@mdia (min-width: 50em) {
    .cta {
        text-align: left;
    }
}

.cta::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url("../images/bg-tablet-pattern.svg"),
        url("../images/bg-tablet-pattern.svg");
    background-position: -15rem -5rem, 80rem -42rem;
    background-repeat: no-repeat;
    opacity: 0.1;
}

/* Footer navigation */

.primary-footer {
    --logo-color: var(--clr-neutral-100);
}

.primary-footer-wrapper {
    display: grid;
    gap: var(--size-700);
    grid-template-areas:
        "form"
        "nav"
        "logo-social";
}

.primary-footer-logo-social {
    grid-area: logo-social;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--size-700);
}

.primary-footer-nav {
    grid-area: nav;
}

.primary-footer-form {
    grid-area: form;
    display: grid;
    align-content: space-between;
}

.primary-footer form {
    display: flex;
    gap: var(--size-200);
}

input:where([type="text"], [type="email"]) {
    border-radius: 100vw;
    border: 0;
    padding: var(--size-300) var(--size-400);
}

@media (min-width: 50em) {
    .primary-footer-wrapper {
        gap: var(--size-700);
        grid-template-areas: "logo-social nav form";
    }
    .primary-footer-logo-social {
        gap: var(--size-700);
        align-items: flex-start;
        justify-content: space-between;
    }
}

@media (max-width: 50em) {
    .primary-footer-wrapper > * {
        margin-inline: auto;
    }
}

.footer-nav {
    columns: 2;
    gap: clamp(var(--size-200), 30vw, var(--size-900));
}

.footer-nav a {
    color: var(--clr-neutral-100);
    text-decoration: none;
}

.footer-nav a:where(:hover, :focus) {
    color: var(--clr-accent-400);
}

/* Socail list */

.social-list {
    display: flex;
    gap: var(--size-600);
}

.social-icon {
    width: var(--size-600);
    aspect-ratio: 1;
    fill: var(--clr-neutral-100);
}

.social-list a:is(:hover, :focus) .social-icon {
    fill: var(--clr-accent-400);
}

@media (min-width: 50em) {
    .social-list {
        gap: var(--size-300);
    }
    .social-icon {
        width: var(--size-500);
    }
}
